@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Paytone+One&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

#site-title{
    font-family: 'Paytone One', sans-serif;
    font-size: 230%;
    font: weight 400;
    color: #285618;
    margin-top: 5%;
    margin-left: 10%;
}
#site-subtitle{
    font-family: 'PT Sans Ital', sans-serif ;
    font-weight: 800;
    font-size: 100%;
    color: #285618;
    margin-top: -1.5%;
    margin-left: 12%;
}

/* password-styles.css */
#password-screen {
    position: fixed;
    top: 0; /* Change top to 0 */
    left: 0; /* Change left to 0 */
    width: 100%; /* Make the width 100% */
    height: 100%; /* Make the height 100% */
    background-color: rgba(254, 250, 217, 0.97); /* Set background color with some opacity */
    display: flex; /* Use flexbox to center content vertically and horizontally */
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    color: #285618;
}


#password-screen input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    width: 30%;
    background-color: #a8b38e;
    color: #285618;
    border: 0cm;
    border-radius: 5px; /* Rounded corners for the button */

}

#password-screen button {
    background-color: #dda15e; /* Button background color */
    color: #fefae0; /* Button text color */
    font-weight: 600;
    font-size: 100%;
    padding: 1% 2%; /* Padding around the button text */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-top: 2%;
   
}

#password-screen button:hover {
    background-color: #285618;
}
body.password-screen-open {
    overflow: hidden;
}



.intro{
    margin-block: 10%;
    color: #bc6c25;
}
.intro-title{
    font-family: 'Paytone One';
    font-size: 150%;
    font: weight 400;
    margin-inline: 15%;
    
}
.intro-text{
    font-weight: 600;
    font-size: 120%;
    margin-inline: 15%;

}

body{
    background: #fefae0;

}

.main-work{
    margin-block:5%;
    margin-inline: 5%;
    max-width: 75%;
    display: grid;
    margin-left: 13%;
    /* number of rows by saying its height
    and number of columns by saying its width*/
    grid-template: auto / auto;
    row-gap: 2%;





}
#title-artworks{
    font-size: 110%;
    color: #606C38;
}
.artwork-image{
    max-width: 100%;
    display: flex;
    justify-content: center;
}

/* Modal container */
.artwork-container {
    display: flex; /* Use flexbox for layout */
    align-items: flex-start; /* Align items to the start */
}

/* Button container */
.button-container {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    margin-left: 10px; /* Add space between image and button container */
}

/* Modal styling */
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 50%; /* Center the modal vertically */
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: auto;  /* Enable scroll if needed */
    background-color: rgba(96, 108, 56, 0.2); /* Black w/ opacity */
}

body.modal-open {
    overflow: hidden;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(96, 108, 56, 0.95);
    color: #fefae0;
    margin: 15% auto;
    padding: 5%;
    border: 1px solid #888;
    width: 100%;
    max-width: 1000px; /* Set a max-width to control the width */
    position: relative;
}

.flex-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-auto-rows: auto; /* Adjust rows automatically */
    gap: 5%; /* Space between grid items */
    width: 100%;
    align-content: start;
    margin-top: 5%;
}

.modal-titles{
    margin-top: 5%;
    max-width: 90%;
    align-self: center;
}

.ref-image-NB {
    max-width: 90%;
    height: auto;
    margin-bottom: 1em;
    margin-top: 4%;
    align-self: center;
}



/* reference images style*/
.ref-image{
    max-width: 100%;

}

#ref-text {
    margin: 0;
    font-size: 120%;
    max-width: 70%;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 200%;
    font-weight: bold;
    position: absolute; /* Position it absolutely within .modal-content */
    top: 3%; /* Adjust as needed */
    right: 2%; /* Adjust as needed */
}

.close:hover,
.close:focus {
    color: #dda15e;
    text-decoration: none;
    cursor: pointer;
}

/* Button styles */
.button-container button {
    background-color: #dda15e; /* Button background color */
    color: #fefae0; /* Button text color */
    font-weight: 600;
    margin-top: 20%;
    margin-left: 10%;
    padding: 13% 8%; /* Padding around the button text */
    font-size: 100%; /* Font size of the button text */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer; /* Change cursor to pointer on hover */
    align-self: flex-start;
}

/* Hover effect */
button:hover {
    background-color: #485724; /* Darker background color on hover */
}



#footer{
    margin-top: 40%;
    margin-bottom: 8%;
}


